html,
body {
  height: 100%;
}
body {
  margin: 0;
  color: #fff;
  background-color: #a6ce3a;
  font-family: 'Georgia';
}
p {
  margin: 0;
}

.main-section {
  height: 100%;
}
.main-section--center {
  height: 100%;
  margin: 0 auto;
}
.main-section__text {
  font-weight: bold;
  font-size: 36px;
}
.accordion {
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
}
.accordion li {
  background-size: cover;
  background-repeat: no-repeat;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  height: 100%;
  width: 100px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
  opacity: .8;
  float: right;
}
.accordion li:hover {
  width: 300px;
  opacity: 1;
}
.accordion-pic1 {
  background-image: url(../../assets/img/sharaku.jpg);
}
.accordion-pic2 {
  background-image: url(../../assets/img/zhiyuan.jpg);
}
.accordion-pic3 {
  background-image: url(../../assets/img/me.jpg);
}
.back-home {
  position: absolute;
  left: 5px;
  top: 5px;
}

@media (max-width: 750px) {
  .accordion {
    display: none;
  }
}

.bold {
  font-weight: bold;
}
.fr {
  float: right;
}
.tc {
  text-align: center;
}